<h2><%= celebrity.name %></h2>

<form class="actions" action="/celebrities/<%= celebrity._id %>/delete" method="POST">
  <a class="action edit" href="/celebrities/<%= celebrity._id %>/edit">Edit</a>
  <button class="btn delete">Delete</button>
</form>

<p class="detail">
  <span class="label">Occupation:</span>
  <span class="value"><%= celebrity.occupation %></span>
</p>
<p class="detail">
  <span class="label">Catch Phrase</span>
  <span class="value highlighted"><%= celebrity.catchPhrase %></span>
</p>

<a href="/celebrities">Back to Celebrity Inventory</a>

